{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-10">
    <h1>{{ .Title }}</h1>
    {{ with .Params.lead }}<p class="lead">{{ . | safeHTML }}</p>{{ end }}
    {{ .Content }}
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
      {{ range $.Site.Data.connectors }}
      {{ partial "card-item.html" (dict "title" .title "lead" .lead "author" .author "official" .official "repo" .repo "compatibility" .compatibility "license" .license "logo" .logo "show_logo" true) }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
