{{- $inner := .Inner | strings.TrimSpace -}}
{{- $title := .Attributes.title -}}
{{- $titleClass := "" -}}
{{- with $title }}{{ $titleClass = " has-title" }}{{ end -}}

<div class="expressive-code">
  <figure class="frame{{ $titleClass }} not-content">
  <figcaption class="header">
    <span class="title">
      {{- with $title -}}{{ . }}{{- end -}}
    </span>
  </figcaption>
  <div class="highlight"><pre tabindex="0" class="chroma"><code class="language-seclang" data-lang="seclang">{{ $inner | htmlEscape | safeHTML }}</code></pre></div>
  </figure>
</div>
{{- /**/ -}}
