name: Tests

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "LICENSE"
      - "README.md"
  pull_request:
    paths-ignore:
      - "LICENSE"
      - "README.md"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: 1.25.x

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          lfs: true
          fetch-depth: 0 #for better blame info

      - name: Tests and coverage
        run: go run mage.go test

      - name: Generate content
        run: go run mage.go generate

      - name: Verifies differences
        run: git diff --exit-code

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: npm install

      - name: Build
        run: hugo --minify
